.card-first {
    display: block;
}

.card {
    --tblr-card-spacer-y: 1.25rem;
    --tblr-card-spacer-x: 1.25rem;
    --tblr-card-title-spacer-y: 1.25rem;
    --tblr-card-title-color: ;
    --tblr-card-subtitle-color: ;
    --tblr-card-border-width: var(--tblr-border-width);
    --tblr-card-border-color: var(--tblr-border-color-translucent);
    --tblr-card-border-radius: var(--tblr-border-radius);
    --tblr-card-box-shadow: var(--tblr-shadow-card);
    --tblr-card-inner-border-radius: calc(var(--tblr-border-radius) - (var(--tblr-border-width)));
    --tblr-card-cap-padding-y: 1.25rem;
    --tblr-card-cap-padding-x: 1.25rem;
    --tblr-card-cap-bg: var(--tblr-bg-surface-tertiary);
    --tblr-card-cap-color: inherit;
    --tblr-card-height: ;
    --tblr-card-color: inherit;
    --tblr-card-bg: var(--tblr-bg-surface);
    --tblr-card-img-overlay-padding: 1rem;
    --tblr-card-group-margin: 1.5rem;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    height: var(--tblr-card-height);
    color: var(--tblr-body-color);
    word-wrap: break-word;
    background-color: var(--tblr-card-bg);
    background-clip: border-box;
    border: var(--tblr-card-border-width) solid var(--tblr-card-border-color);
    border-radius: var(--tblr-card-border-radius);
    box-shadow: var(--tblr-card-box-shadow);
}
.card > hr,
.card > .hr {
    margin-right: 0;
    margin-left: 0;
}
.card > .list-group {
    border-top: inherit;
    border-bottom: inherit;
}
.card > .list-group:first-child {
    border-top-width: 0;
    border-top-left-radius: var(--tblr-card-inner-border-radius);
    border-top-right-radius: var(--tblr-card-inner-border-radius);
}
.card > .list-group:last-child {
    border-bottom-width: 0;
    border-bottom-right-radius: var(--tblr-card-inner-border-radius);
    border-bottom-left-radius: var(--tblr-card-inner-border-radius);
}
.card > .card-header + .list-group,
.card > .list-group + .card-footer {
    border-top: 0;
}

.card-body {
    flex: 1 1 auto;
    padding: var(--tblr-card-spacer-y) var(--tblr-card-spacer-x);
    color: var(--tblr-card-color);
}

.card-title {
    margin-bottom: var(--tblr-card-title-spacer-y);
    color: var(--tblr-card-title-color);
}

.card-subtitle {
    margin-top: calc(-0.5 * var(--tblr-card-title-spacer-y));
    margin-bottom: 0;
    color: var(--tblr-card-subtitle-color);
}

.card-text:last-child {
    margin-bottom: 0;
}

.card-link:hover {
    text-decoration: none;
}
.card-link + .card-link {
    margin-left: var(--tblr-card-spacer-x);
}

.card-header {
    padding: var(--tblr-card-cap-padding-y) var(--tblr-card-cap-padding-x);
    margin-bottom: 0;
    color: var(--tblr-card-cap-color);
    background-color: var(--tblr-card-cap-bg);
    border-bottom: var(--tblr-card-border-width) solid var(--tblr-card-border-color);
}
.card-header:first-child {
    border-radius: var(--tblr-card-inner-border-radius) var(--tblr-card-inner-border-radius) 0 0;
}

.card-footer {
    padding: var(--tblr-card-cap-padding-y) var(--tblr-card-cap-padding-x);
    color: var(--tblr-card-cap-color);
    background-color: var(--tblr-card-cap-bg);
    border-top: var(--tblr-card-border-width) solid var(--tblr-card-border-color);
}
.card-footer:last-child {
    border-radius: 0 0 var(--tblr-card-inner-border-radius) var(--tblr-card-inner-border-radius);
}

.card-header-tabs {
    margin-right: calc(-0.5 * var(--tblr-card-cap-padding-x));
    margin-bottom: calc(-1 * var(--tblr-card-cap-padding-y));
    margin-left: calc(-0.5 * var(--tblr-card-cap-padding-x));
    border-bottom: 0;
}
.card-header-tabs .nav-link.active {
    background-color: var(--tblr-card-bg);
    border-bottom-color: var(--tblr-card-bg);
}

.card-header-pills {
    margin-right: calc(-0.5 * var(--tblr-card-cap-padding-x));
    margin-left: calc(-0.5 * var(--tblr-card-cap-padding-x));
}

.card-img-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: var(--tblr-card-img-overlay-padding);
    border-radius: var(--tblr-card-inner-border-radius);
}

.card-img,
.card-img-top,
.card-img-bottom {
    width: 100%;
}

.card-img,
.card-img-top {
    border-top-left-radius: var(--tblr-card-inner-border-radius);
    border-top-right-radius: var(--tblr-card-inner-border-radius);
}

.card-img,
.card-img-bottom {
    border-bottom-right-radius: var(--tblr-card-inner-border-radius);
    border-bottom-left-radius: var(--tblr-card-inner-border-radius);
}

.card-group > .card {
    margin-bottom: var(--tblr-card-group-margin);
}
@media (min-width: 576px) {
    .card-group {
        display: flex;
        flex-flow: row wrap;
    }
    .card-group > .card {
        flex: 1 0 0%;
        margin-bottom: 0;
    }
    .card-group > .card + .card {
        margin-left: 0;
        border-left: 0;
    }
    .card-group > .card:not(:last-child) {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    .card-group > .card:not(:last-child) .card-img-top,
    .card-group > .card:not(:last-child) .card-header {
        border-top-right-radius: 0;
    }
    .card-group > .card:not(:last-child) .card-img-bottom,
    .card-group > .card:not(:last-child) .card-footer {
        border-bottom-right-radius: 0;
    }
    .card-group > .card:not(:first-child) {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
    .card-group > .card:not(:first-child) .card-img-top,
    .card-group > .card:not(:first-child) .card-header {
        border-top-left-radius: 0;
    }
    .card-group > .card:not(:first-child) .card-img-bottom,
    .card-group > .card:not(:first-child) .card-footer {
        border-bottom-left-radius: 0;
    }
}
