@use "@/styles/mixins" as *;
@use "@/styles/variables" as *;

.categoryAccordion {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .accordionContainer {
        width: 50%;
        @include spacing(margin-top, 5);
        @include spacing(padding, 0, 5);

        .accordionTitleBlock {
            display: flex;
            justify-content: space-between;
        }

        .categoryTitle {
            color: black;
        }

        .categoriesList {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            @include spacing(margin-top, 10);

            .categoryItem {
                .categoryItemTrigger {
                    display: flex;
                    cursor: pointer;
                    @include text-size(text-xl);
                    transition: all 0.2s ease-out;

                    & svg {
                        width: 20px;
                        height: 20px;
                    }

                    &:hover {
                        text-decoration: none;
                        color: $invest-green;

                        svg {
                            stroke: $invest-green;
                        }
                    }
                }

                .transactionList {
                    @include spacing(margin-top, 2);
                    @include spacing(margin-bottom, 2);
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
                }
            }
        }
    }
}
