@use "@/styles/variables" as *;
@use "@/styles/mixins" as *;

.container {
    display: flex;
    justify-content: center;
    align-items: center; 
    border-radius: 10px;


  }
  
  .notificationIcon {
    font-size: 1.2rem; 
    color: #6b7280; 
    cursor: pointer;
    display: flex;
    justify-content: center;

  }

  .dropdownContent {
    min-width: 400px; 
    //min-height: 350px;
    max-height: 650px; 
    overflow-y: auto; 
    padding: 12px;
    background-color: #ffffff; /* Белый фон */
    border: 1px solid #e5e7eb; /* Легкая граница */
    border-radius: 10px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    margin-top: 8px; 
  

    animation: fadeIn 0.2s ease-in-out;
  
    @keyframes fadeIn {
      from {
        opacity: 0;
        transform: translateY(-10px);
      }
      to {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }

  .menuItem {
    font-size: 0.875rem;
    color: #000000; 
    padding: 8px 12px; 
    border-radius: 10px; 
    cursor: pointer;
  
    &:hover {
      background-color: #f3f4f6; 
      color: #1eaf58; 
    }
  }
  
  .showAllButton {
    position: relative;
    font-size: 0.875rem;
    color: #1eaf58; 
    padding: 8px 12px;
    display: flex;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    border-radius: 4px;
    margin-bottom: auto;
  
    &:hover {
      background-color: #f3f4f6; 
    }
  }
  

  .DropdownMenuLabelNotif {
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    font-weight: 600;
    color: #000000; 
    padding: 8px 12px; 
    margin-bottom: 8px; 
  }
  
.DropMenuSeparatorNotif{
    height: 1px;
    background-color: rgba(0, 0, 0, 0.1); /* Полупрозрачная линия */
    margin: 8px ;
}