@use "@/styles/mixins" as *;
@use "@/styles/variables" as *;

.mainBlockCard {
    min-width: 500px;
    background-color: $invest-green !important;
    @include rounded(2xl);
    box-shadow: 0 4px 6px rgba($invest-green, 0.7);
    cursor: pointer;
}
