@use "@/styles/mixins" as *;
@use "@/styles/variables" as *;

/* Общие стили */
.chartCard {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    max-width: 480px;
    max-height: 450px;
    border: 1px solid #e5e7eb;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}

  /* Header */
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px 16px 0;
  }
  
.title {
    font-size: 2rem;
    font-weight: 400;
    color: #000000;
}

.description {
    font-size: 0.875rem;
    color: #374151;
    margin-top: 4px;
}

  /* Content */
.content {
    flex: 1;
    padding: 5px;
    color: #000000;
}

.centerText {
    font-size: 1.85rem;
    font-weight: 400;
    fill: #000000;
    text-anchor: middle;
    dominant-baseline: middle;
}

.totalAmount {
    font-size: 0.75rem;
    fill: #374151;
    text-anchor: middle;
    dominant-baseline: middle;
    margin-top: 24px;
}

  /* Footer */
.footer {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 0.875rem;
    color: #374151;
    padding: 16px;
}

  /* Стили для Tooltip */
.customTooltip {
    padding: 8px;
    background-color: #ffffff;
    border: 1px solid #e5e7eb;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.tooltipRow {
    display: flex;
    align-items: center;
    gap: 8px;
}

.colorDot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

.categoryName {
    font-size: 0.875rem;
    color: #000000;
}

.tooltipTotal {
    margin-top: 4px;
    font-size: 0.875rem;
    color: #374151;
}