$breakpoints: (
    mobile: 375px,
    big_mobile: 640px,
    tablet: 767px,
    medium_tablet: 950px,
    desktop: 1023px,
    medium_desktop: 1439px,
    wide_desktop: 1919px,
    ultra_desktop: 2559px
) !default;
