$background: #0e0e10;
$foreground: #ffffff;
$primary: #fc5453;
$primary-foreground: #ffffff;
$card: #16171a;
$card-text-muted: #808183;
$card-foreground: #ffffff;
$gotobutton-info: #232529;
$gotobutton-info-hover: #343337;
$game-status-alert-background: #2e1f23;
$muted: #1a1e2411;
$muted-light: #17191e;
$muted-hover: #6f747d;
$gamecard-infoblock-border: #2e3034;
$muted-foreground: #aaaaaa;
$ghost: #16171a;
$ghost-foreground: #ffffff;
$secondary: #0b0d14;
$secondary-foreground: #ffffff;
$dialog: #17191e;
$dialog-foreground: #ffffff;
$game-action: #511c22;
$game-action-fontcolor: #ffdad6;
$game-action-hover: #5f2b30;
$destructive: rgba(252, 84, 83, 0.1);
$destructiveGrey: $card;
$destructive-foreground: #fc5453;
$warning: rgba(228, 207, 19, 0.1);
$warning-foreground: #7a764f;
$border: #676767;
$ring: rgba(0, 0, 0, 0);
$radius: 0.75rem;
$main-bg-color: #f6f8fb;

$invest-green: #64bd5f;
