@use "@/styles/variables/colors";

// ====== Основные цвета ======
$primary: #0054a6;
$primary-rgb: 0, 84, 166;
$primary-darken: #004c95;
$primary-lt: #e6eef6;
$primary-lt-rgb: 230, 238, 246;

$secondary: #667382;
$secondary-rgb: 102, 115, 130;
$secondary-darken: #5c6875;
$secondary-lt: #f0f1f3;
$secondary-lt-rgb: 240, 241, 243;

$success: #2fb344;
$success-rgb: 47, 179, 68;
$success-darken: #2aa13d;
$success-lt: #eaf7ec;
$success-lt-rgb: 234, 247, 236;

$info: #4299e1;
$info-rgb: 66, 153, 225;
$info-darken: #3b8acb;
$info-lt: #ecf5fc;
$info-lt-rgb: 236, 245, 252;

$warning: #f76707;
$warning-rgb: 247, 103, 7;
$warning-darken: #de5d06;
$warning-lt: #fef0e6;
$warning-lt-rgb: 254, 240, 230;

$danger: #d63939;
$danger-rgb: 214, 57, 57;
$danger-darken: #c13333;
$danger-lt: #fbebeb;
$danger-lt-rgb: 251, 235, 235;

$dark: #182433;
$dark-rgb: 24, 36, 51;
$dark-darken: #16202e;
$dark-lt: #e8e9eb;
$dark-lt-rgb: 232, 233, 235;

// ====== Цвета интерфейса ======
$muted: #667382;
$muted-rgb: 102, 115, 130;
$muted-darken: #5c6875;
$muted-lt: #f0f1f3;
$muted-lt-rgb: 240, 241, 243;

$bg-surface: $white;
$bg-surface-secondary: $gray-100;
$bg-surface-tertiary: $gray-50;
$bg-surface-dark: $dark;
$bg-forms: $bg-surface;

$border-color: #dadfe5;
$border-color-translucent: rgba(4, 32, 69, 0.14);
$border-dark-color: #bbc3cd;
$border-dark-color-translucent: rgba(4, 32, 69, 0.27);
$border-active-color: #b6bcc3;

$dark-mode-border-color: #1f2e41;
$dark-mode-border-color-translucent: rgba(72, 110, 149, 0.14);
$dark-mode-border-color-active: #2c415d;
$dark-mode-border-dark-color: #1f2e41;

$icon-color: $gray-500;
$active-bg: rgba($primary-rgb, 0.04);
$disabled-bg: $bg-surface-secondary;
$disabled-color: $gray-300;
$code-color: $gray-600;
$code-bg: $bg-surface-secondary;

// ====== Типографика ======
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 600;
$font-weight-headings: $font-weight-bold;

$font-size-h1: 1.5rem;
$font-size-h2: 1.25rem;
$font-size-h3: 1rem;
$font-size-h4: 0.875rem;
$font-size-h5: 0.75rem;
$font-size-h6: 0.625rem;

$line-height-h1: 2rem;
$line-height-h2: 1.75rem;
$line-height-h3: 1.5rem;
$line-height-h4: 1.25rem;
$line-height-h5: 1rem;
$line-height-h6: 1rem;

// ====== Отступы и размеры ======
$page-padding: $spacer-3;
$page-padding-y: $spacer-4;

// ====== Тени и оформление ======
$box-shadow: rgba($body-color-rgb, 0.04) 0 2px 4px 0;
$box-shadow-border: inset 0 0 0 1px $border-color-translucent;
$box-shadow-transparent: 0 0 0 0 transparent;
$box-shadow-input: 0 1px 1px rgba($body-color-rgb, 0.06);
$box-shadow-card: 0 0 4px rgba($body-color-rgb, 0.04);
$box-shadow-card-hover: rgba($body-color-rgb, 0.16) 0 2px 16px 0;

$box-shadow-dropdown:
    0 16px 24px 2px rgba(0, 0, 0, 0.07),
    0 6px 30px 5px rgba(0, 0, 0, 0.06),
    0 8px 10px -5px rgba(0, 0, 0, 0.1);
