@use "@/styles/mixins" as *;
@use "@/styles/variables" as *;

.addButton {
    background: none;
    border: 1px solid rgba(0, 0, 0, 0.4);
    @include spacing(padding, 4, 3, 4, 4);
    @include text-size(text-base);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    &:hover {
        background-color: rgba(0, 0, 0, 0.05);
    }

    .addNewTransactionIcon {
        width: 28px;
        height: 28px;
        stroke: black;
    }
}
