@use "@/styles/mixins" as *;
@use "@/styles/variables" as *;

.dialogContentWrapper {
    @include spacing(margin, 4, 0);

    .dialogParamsContainer {
        @include spacing(margin-top, 3);
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 1rem;

        .dialogParamsBlock {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 0.75rem;

            .paramEntry {
                color: black;
                background: white !important;
                border: 1px solid rgba(0, 0, 0, 0.2);

                &:focus {
                    outline: none;
                    border: 1px solid rgba($invest-green, 0.4);
                }
            }

            .errorMessage {
                color: $primary;
            }
        }
    }

    .submitBlock {
        display: flex;
        justify-content: center;
        width: 100%;
        @include spacing(margin-top, 5);

        & button {
            @include spacing(padding, 3);
            @include text-size(text-sm);
        }
    }
}
