@use "@/styles/mixins" as *;
@use "@/styles/variables" as *;

.card {
    @include spacing(border-radius, 3);
    color: $card-foreground;
    background-color: $card;

    &Standard {
        background-color: $card;
    }

    &Modal {
        background-color: $muted;
    }
}

.cardHeader {
    @include spacing(padding, 6);
    display: flex;
    flex-direction: column;
}

.cardTitle {
    @include weight(semibold);
    @include text-size(text-2xl);
    @include letter-spacing(tight);
}

.cardDescription {
    @include text-size(text-sm);
    color: $muted-foreground;
    line-height: 1;
}

.cardContent {
    &Default {
        @include spacing(padding, 6);
        @include text-size(text-lg);
    }
}

.cardFooter {
    @extend .cardContent;
    display: flex;
    align-items: center;
}

.cardSize {
    &Default {
        @include spacing(padding, 3);
    }

    &Dialog {
        @include spacing(padding, 1);
    }

    &FilterButton {
        @include spacing(padding, 1);
    }

    &Game {
        @include spacing(padding, 0);
    }
}

.cardContentSize {
    &Default {
        @include spacing(padding, 6);
    }

    &Dialog {
        @include spacing(padding, 0, 2);
        @include text-size(text-sm);
    }

    &FilterButton {
        @include spacing(padding, 1);
    }
}
