@use "@/styles/mixins" as *;
@use "@/styles/variables" as *;

.registerPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100vh;

    .authActionBlock {
        @include text-size(text-xl);
        @include spacing(margin, 8, 0);

        span {
            color: black;
        }

        a {
            color: $invest-green;
            transition: all 0.2s ease-out;
            &:hover {
                color: rgba($invest-green, 0.5);
            }
        }
    }
}
